body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 5vw;
    color:black;
    background-color: rgb(113, 167, 125);
    text-align:center;
    margin:unset;

    height: 100vh;
    background-color: rgb(113, 167, 125);
    background-image: url(natureza.png);
    background-repeat: no-repeat;
    background-size:cover; 
    background-position: center center;
    background-attachment: fixed;
}

header {
    background-color:rgb(116, 159, 224) ;
    height: 20vw;
    width: 100%;
    line-height: 20vw;
    position: fixed;
    box-shadow: 5px 5px 15px black;
    z-index: 1;
}

a {
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    text-decoration: none;
    color: rgb(6, 45, 136);
    transition: 250ms linear; 
    padding: 0.5vw;
    border-radius: 5vw;
}

a:hover {
    color: purple;
    font-size: 5.3vw;
    background-color:rgb(96, 143, 214);
    box-shadow: 5px 5px 5px black;
}


h1 {
    color: white;
    margin-top: 50vw;
    width: 100%;
}

h2 {
    color: white;
    width: max-content;
    position: relative;
    left: 15vw;
    margin-top: 30vw;
}

p {
    position: relative;
    background-color:  #5FB6D9;
    width:70vw;
    border-radius: 15vw;
    padding: 1%;
    font-size: 4vw;
    box-shadow: 7px 7px 15px;
}

.conjunto1 {
    position: relative;
    width: 22%;
    left: 5%;
    
}

.conjunto2 {
    position: relative;
    width: 22%;
    left: 5%;
}

.conjunto3 {
    position: relative;
    width: 22%;
    left: 5%;
}
