body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.39vw;
    color:black;
    background-color: rgb(113, 167, 125);
    text-align:center;
    margin:unset;

    height: 100vh;
    background-color: rgb(113, 167, 125);
    background-image: url(natureza.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    background-attachment: fixed;
}

header {
    
    background-image: url(fundo-cabeçario.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    background-attachment: fixed;

    background-color:rgb(116, 159, 224) ;
    height: 5vw;
    width: 100vw;
    line-height: 5vw;
    position: fixed;
    box-shadow: 5px 5px 15px black;
    z-index: 1;
}

a {
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    text-decoration: none;
    color: rgb(6, 45, 136);
    transition: 250ms linear; 
    padding: 0.5vw;
    border-radius: 25px;
}

a:hover {
    color: purple;
    font-size: 1.45vw;
    background-color:rgb(96, 143, 214);
    box-shadow: 5px 5px 5px black;
}


.back {
    position: fixed;
    top: 5vw;
    left: 0vw;
    z-index: -2;
    width: 100vw;
    height: 52vw;
}

p {
    position: relative;
    background-color:  #5FB6D9;
    width:22vw;
    border-radius: 10vw;
    padding: 1vw;
    left: 38vw;
    font-size: 1.4vw;
    box-shadow: 7px 7px 15px;
}

p.a {
    bottom: 1vw;
}

p.b {
    left: 6vw;
    bottom: 1.9vw;
}

p.c {
    left: 38vw;
    bottom: 6vw;
}

p.d {
    left: 8vw;
    bottom: 12vw;
}

p.f {
    left: 3vw;
    bottom: 7vw;
}


p.g {
    left: 13vw;
    bottom: 7vw;
}

.conjunto {
    position: absolute;
    left: 17.5vw;
    width: 65vw;
    height: 40vw;
    top: 31vw;
    z-index: -1;
    border-radius: 10vw;
    border: 0.5vw solid antiquewhite;
    box-shadow: 7px 7px 15px;
}

.conjunto2 {
    position: absolute;
    border: 0.5vw solid antiquewhite;
    font-size: unset;
    left: 25vw;
    width: 50vw;
    height: 28vw;
    top: 79vw;
    z-index: -1;
    border-radius: 10vw;
    box-shadow: 7px 7px 15px;
}

.valores {
    position: relative;
    top: 3.5vw;
    left: 30vw;
    color: white;
    font-size: 4vw;
    width: max-content;
}

.viagem {
    position: relative;
    top: 3vw;
    left: 42vw;
    color: white;
    font-size: 4vw;
    width:max-content;
}
