body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2vw;
    color:black;
    background-color: rgb(113, 167, 125);
    text-align:center;
    margin:unset;

    height: 100vh;
    background-color: rgb(113, 167, 125);
    background-image: url(natureza.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    background-attachment: fixed;
}

header {
    background-color:rgb(116, 159, 224) ;
    height: 10vw;
    width: 100vw;
    line-height: 10vw;
    position: fixed;
    box-shadow: 5px 5px 15px black;
    z-index: 1;
}

a {
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    text-decoration: none;
    color: rgb(6, 45, 136);
    transition: 250ms linear; 
    padding: 0.5vw;
    border-radius: 5vw;
}

a:hover {
    color: purple;
    font-size: 2.3vw;
    background-color:rgb(96, 143, 214);
    box-shadow: 5px 5px 5px black;
}


.back {
    position: fixed;
    top: 5vw;
    left: 0vw;
    z-index: -2;
    width: 100vw;
    height: 52vw;
}

p {
    position: relative;
    background-color:  #5FB6D9;
    width:max-content;
    border-radius: 5vw;
    padding: 1%;
    left: 38vw;
    font-size: 1.8vw;
    box-shadow: 7px 7px 15px;
}

p.a {
    bottom: 1vw;
}

p.b {
    left: 7vw;
    bottom: 3vw;
}

p.c {
    left: 35vw;
    bottom: 8vw;
}

p.d {
    left: 2vw;
    bottom: 15vw;
}

p.f {
    left: 7vw;
    bottom: 9vw;
}


p.g {
    left: 19vw;
    bottom: 9vw;
}

.conjunto {
    position: absolute;
    left: 15vw;
    width: 70vw;
    height: 40vw;
    top: 42vw;
    z-index: -1;
    border-radius: 10vw;
    border: 0.5vw solid antiquewhite;
    box-shadow: 7px 7px 15px;
}

.conjunto2 {
    position: absolute;
    border: 0.5vw solid antiquewhite;
    font-size: unset;
    left: 22.5vw;
    width: 55vw;
    height: 28vw;
    top: 90vw;
    z-index: -1;
    border-radius: 10vw;
    box-shadow: 7px 7px 15px;
}

.valores {
    position: relative;
    top: 3vw;
    left: 39vw;
    color: white;
    font-size: 4vw;
    width: max-content;
}

.viagem {
    position: relative;
    top: 0vw;
    left: 33vw;
    color: white;
    font-size: 4vw;
    width:max-content;
}
