body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2vw;
    color:black;
    text-align:center;
    margin:unset;

    height: 100vh;
    background-color: rgb(113, 167, 125);
    background-image: url(natureza.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    background-attachment: fixed;
}
 
header {
    top: 0vw ;
    background-color:rgb(116, 159, 224) ;
    height: 10vw;
    width: 100%;
    line-height: 10vw;
    position: fixed;
    box-shadow: 5px 5px 15px black;
    z-index: 1;
}

a {
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    text-decoration: none;
    color: rgb(6, 45, 136);
    transition: 250ms linear; 
    padding: 0.5vw;
    border-radius: 25px;
}

a:hover {
    color: purple;
    font-size: 2.3vw;
    background-color:rgb(96, 143, 214);
    box-shadow: 5px 5px 5px black;
}


h1 {
    margin-top: 25vw;
    color: white;
    width: 100%;
}

h2 {
    color: white;
    width: 100%;
}

p {
    position: relative;
    background-color: #5FB6D9;
    width:30vw;
    border-radius: 50px;
    padding: 1%;
    left: 35vw;
    font-size: 2.5vw;
    box-shadow: 7px 7px 15px;
}

table {
    width: 75%;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.562);

    position: relative;
    left :10vw;
}

.imgT {
    width: 20vw;
    height: 20vw;
}

.nome {
    position: relative;
    left: 35vw;
}

.ponto {
    position: relative;
    left: 35vw;
}

.cidade{
    position: relative;
    left: 35vw;
}

.distancia{
    position: relative;
    left: 35vw;
}

.margem {
    width: 90vw;
    height: 20vw;
}